* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #70c5ce; /* fallback if bg image not loaded */
  height: 100vh;
}

canvas {
  border: 2px solid black;
  display: block;
}